

.text-light {
    color: #ffffff;
    font-weight: 450;
    letter-spacing: 2px;
    text-shadow: 
        0 5 10px rgba(255, 255, 255, 0.8),
        0 5 20px rgba(255, 255, 255, 0.3);
    animation: t-light 4s ease-in-out infinite alternate;
}

@keyframes t-light {
    0% { 
        opacity: 1; 
        letter-spacing: 2px;
        text-shadow: 
            0 0 15px rgba(255, 255, 255, 0.8),
            0 0 30px rgba(255, 255, 255, 0.3);
    }
    100% { 
        opacity: 0.9; 
        letter-spacing: 2.2px;
        text-shadow: 
            0 0 16px rgba(255, 255, 255, 0.6),
            0 0 32px rgba(255, 255, 255, 0.2);
    }
}
/* Decay Text Effect */
.text-decay {
    color: #4a4a4a;
    letter-spacing: 2px;
    text-shadow: 
        0 0 10px rgba(74, 74, 74, 0.5);
    animation: decay 10s infinite alternate;
}

@keyframes decay {
    0% { opacity: 1; letter-spacing: 2px; text-shadow: 0 0 10px rgba(74, 74, 74, 0.5); }
    100% { opacity: 0.2; letter-spacing: 2.5px; text-shadow: 0 0 10px rgb(250, 250, 250); }
}

/* Haunting Text Effect */
.text-haunting {
    color: #f0f0f0;
    animation: haunting 4s infinite alternate ease-in-out;
    letter-spacing: 1px;
    font-family: 'Gothic', serif;
}

@keyframes haunting {
    0% { 
        opacity: 0.6; 
        transform: scale(0.98) skew(-1deg, 1deg);
        filter: blur(1px);
    }
    50% {
        opacity: 0.8;
        transform: scale(1.02) rotate(0.5deg);
    }
    100% { 
        opacity: 1; 
        transform: scale(1.03) skew(1deg, -1deg);
        filter: blur(2px);
    }
}
.star {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    animation: twinkle 2s infinite alternate;
}

@keyframes twinkle {
    0% { opacity: 0.3; transform: scale(0.7); }
    100% { opacity: 1; transform: scale(1.2); }
}

.timeless {
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-size: 200%;
    font-style: normal;
}

.invisible {
    color: transparent;
    max-height: 1% !important;
}